.footer-content {
  background-color: transparent;
}

.nav-item {
  list-style-type: none;
}

.android,
.apple,
.twitter,
.facebook {
  color: black;
}

.android:hover {
  color: #96C13E;
}

.apple:hover {
  color:  rgb(173, 175, 180) ;
  

}

.twitter:hover {
  color: #1CA1F2;
}

.facebook:hover {
  color: #4267B2;
}

.foot-icons {
  padding-top: 1.5rem;
}

