.flag-menu {
  margin: 1rem 0 2rem 0;
  padding-left: 0 !important;
}

.flag-select {
  border-radius: 3px;
  padding-top: 5px;
  width: 100%;
  background-color: white;
}

.country-flag img {
  margin-bottom: 10px;
}

.flag-options {
  width: 100%;
  font-size: 1rem;
}

.arrow-down {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

.title-menu {
  color: white;
  font-family: 'Quicksand', sans-serif;
}