@import url('https://fonts.googleapis.com/css?family=Lobster');

  h1{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 48px !important;
  }

.col{
    background-color: black;
  }

.navbar-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 9px 60px;
}