.login-btn1 {
  border-radius: 10px !important;
  margin-top: 2rem;
  background-color: #c61e1e !important;
  color: white !important;
  border: none !important;
  .login-btn1:focus {
    box-shadow: 0;
  }
}

.login-btn2 {
  border-radius: 10px !important;
  margin-top: 2rem;
  background-color: #49AE37 !important;
  color: white !important;
  border: none !important;
}

#login-modal {
  margin-top: 2rem;
  .modal-header {
    border-bottom: none !important;
  }
  .modal-footer {
    border-top: none !important;
  }
  .login-btn-modal {
    border-radius: 10px !important;
    background-color: #49AE37 !important;
    color: white !important;
    border: none !important;
  }
  .login-close-modal {
    border-radius: 10px !important;
    background-color: gray !important;
    color: white !important;
    border: none !important;
    .form-control {
    border: none !important;
    }
    .modal-content {
      background-color: rgba(255, 255, 255, 0.9) !important;
    }
  }
}

