
.footer-content {
    background-color: #CCCCCC;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    color: white;
    padding: 0.5rem !important;
}

.footer-nav-links {
    font-size: 0.8rem;
}

.footer-nav-links:hover {
    color: dimgrey;
}

.android, .apple, .twitter, .facebook {
    color: black;

}
.android:hover {
    color: #96C13E;
}

.apple:hover {
    color: white;
}

.twitter:hover {
    color: #1CA1F2;
}

.facebook:hover {
    color: #4267B2;
}

@media screen and (max-width: 576px) {
    .footer-nav-links {
        font-size: 0.6rem;
    }
    .footer-icons {
        width: 20px !important;
        height: 20px !important;
    }
}
