.flag-select {
  border: 1px solid grey;
  border-radius: 3px 3px 3px 3px;
  padding-top: 5px;
}

.flag-menu {
  margin-left: 20px;
}

.country-flag img {
  margin-bottom: 10px;

}

.flag-option {
  padding-right: 267px !important;
}

.arrow-down {
  padding-left: 300px !important;

}