@import url('https://fonts.googleapis.com/css?family=Lobster');

  h1{
   font-family: 'Lobster', cursive;
   color: white;
   font-size: 48px !important;
   margin-top: -6% !important;
   padding-bottom: 2% !important;
   text-align: end;
   
  }
  

.col{
    background-color: black;

    
    
}



img{
    margin-left: 7%;
    margin-top: 1%;
    margin-bottom: -1%;
 }