body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#fond{
  background-color: rgb(243, 243, 243);
  margin: -6rem;
}
h2 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

/*position of content */


#country {
  width : 100%; 
}
#margin1{
  margin-top: 6rem !important;
  
}
#margin2{
  margin-top: 5rem !important;
}
#margin3{
  margin-top: 0.5rem !important;
}
#margin4{
  margin-top: 1rem !important;
}
#margin5{
  margin-top:2rem !important;
}

